
.DS_Store
Data/~$Microporella_SEMs_EDM+Mali_05.06.2024.xlsx
Data/.~lock.Microporella_SEMs_EDM+Mali_05.06.2024.xlsx\#
Data/.~lock.Microporella_SEMs_EDM+Mali_05.06.2024.xlsx\#
Data/.~lock.M.agonistes_omitfolder_files_that_may_be_useful.ods\#
Data/.~lock.micro_sem_metadata.ods\#
Data/.~lock.images_with_other_species.csv\#
Results/~$summer_student_posters.pptx
Data/.~lock.M.agonistes_omitfolder_files_that_may_be_useful.ods\#
Data/CLI-outputs/M.intermedia/.~lock.MHR.4633.csv\#
